body {
	font-family: "Verdana", "sans-serif";
}
#header {
	height : 150px;
	background:url('logo.png') no-repeat 74% 23px;
	padding-top: 8px;
}
#header div.title {
	border-bottom : 1px solid black;
	padding-left : -100%;
	font-size : 1px;
	height : 114px;
	color:white;
}
#header span {
	padding-left : 15%;
	font-family:serif;
	letter-spacing:10px
}
#content {
	display : block;
	padding-top: 30px;
	width:65%;
	padding-left: 10%;
	padding-bottom: 30px;
}
ul.menu {
	letter-spacing:3px;
	display : absolute;
	position:fixed;
	top:30%;
	right:3%;
	z-index:0;
	width : 20%;
	list-style: none;
}
ul.menu li {
	display: inline;
	padding: 0;
}
ul.menu a {
	display : block;
	border-left: 1px solid white;
	border-bottom: 1px solid white;
	text-decoration: none;
	padding:5px;
	padding-left:20px;
}
ul.menu a:hover {
	display : block;
	border-left: 1px solid gray;
	border-bottom: 1px solid gray;
	text-decoration: none;
	padding:5px;
	padding-left:20px;
}
dl.roadmap { display: block; padding-bottom: 20px }
dl.roadmap dt { font-weight:bold }
div.copyright {
	display : block;
	border-top: 1px solid gray;
	padding-top:10px;
	text-align:center;
	font-family:serif;
	font-size:small;
}
